{% extends "layout.html" %}

{% block body %}
  <main role="main" class="inner cover">
    <h1 class="cover-heading">Share your love for literacy.</h1>
    <p class="lead">Book Ace is a great way to find and review your favourite books.</p>
    <p class="lead">
    </p>
    <form action = "{{ url_for('logged_in') }}" method = "post">
      <input type = "text" name = "username" placeholder = "Username">
      <input type = "password" name = "password" placeholder = "Password">
      <button>Login</button>
    </form> 
    <a href = "{{ url_for('register') }}">New User? Register here.</a>
  </main>

  <footer class="mastfoot mt-auto">
    <div class="inner">
      <p>By <a href="https://github.com/eugene-lok">Eugene Lok</a> | <a href="https://github.com/eugene-lok/book-ace">ENGO551 Lab 1</a></p>
    </div>
  </footer>
{% endblock %}